In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [19]:
data = pd.read_csv('train.csv')
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [20]:
data = data.set_index('PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [22]:
target = 'Survived'

In [23]:
y = data[target]

In [24]:
x = data.drop(target, axis=1)
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

Не все поля полностью заполнены, удилаим лишние

In [25]:
x = x.drop(['Cabin', 'Name', 'Ticket'], axis=1)

In [29]:
mean_age = x['Age'].mean()
mean_age

29.699117647058763

In [27]:
x['Age'] = x['Age'].fillna(mean_age)

In [30]:
x['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

в Embarked - не хватает 2х значений, но поле текстовое, заменим Модой

In [32]:
x['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [36]:
embarked_mode = x['Embarked'].mode()[0]
embarked_mode

'S'

In [37]:
x['Embarked'] = x['Embarked'].fillna(embarked_mode)
x['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [38]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB

Преобразуем категории в цифровой вид:

In [39]:
x['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [40]:
x['Sex'] = (x['Sex'] == 'female').astype(int)

In [41]:
x['Sex'].value_counts()

0    577
1    314
Name: Sex, dtype: int64

теперь Embarked
Преобразуем ее в dummy-переменные
Теперь каждому ее значению будет отведен отдельный столбец
в котором возможны два числа:
    1 (переменная равна данному значению)
    0 (переменная не равна данному значению)

In [43]:
x = pd.get_dummies(x)

In [44]:
x.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [45]:
x.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
1,3,0,22.0,1,0,7.2500,0,0,1
2,1,1,38.0,1,0,71.2833,1,0,0
3,3,1,26.0,0,0,7.9250,0,0,1
4,1,1,35.0,1,0,53.1000,0,0,1
5,3,0,35.0,0,0,8.0500,0,0,1

In [47]:
x['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [48]:
x['Pclass'] = x['Pclass'].astype('category')

In [49]:
x = pd.get_dummies(x)
x.columns

Index(['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [50]:
x.head(10)

,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,
1,0,22.000000,1,0,7.2500,0,0,1,0,0,1
2,1,38.000000,1,0,71.2833,1,0,0,1,0,0
3,1,26.000000,0,0,7.9250,0,0,1,0,0,1
4,1,35.000000,1,0,53.1000,0,0,1,1,0,0
5,0,35.000000,0,0,8.0500,0,0,1,0,0,1
6,0,29.699118,0,0,8.4583,0,1,0,0,0,1
7,0,54.000000,0,0,51.8625,0,0,1,1,0,0
8,0,2.000000,3,1,21.0750,0,0,1,0,0,1
9,1,27.000000,0,2,11.1333,0,0,1,0,0,1
10,1,14.000000,1,0,30.0708,1,0,0,0,1,0

In [51]:
# Парамерт test_size будет определять, какую долю данных
# из train.csv берем для валидации датасета
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.25, random_state=42)

In [52]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 299 to 103
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sex         668 non-null    int32
 1   Age         668 non-null    float64
 2   SibSp       668 non-null    int64
 3   Parch       668 non-null    int64
 4   Fare        668 non-null    float64
 5   Embarked_C  668 non-null    uint8
 6   Embarked_Q  668 non-null    uint8
 7   Embarked_S  668 non-null    uint8
 8   Pclass_1    668 non-null    uint8
 9   Pclass_2    668 non-null    uint8
 10  Pclass_3    668 non-null    uint8
dtypes: float64(2), int32(1), int64(2), uint8(6)
memory usage: 32.6 KB

In [55]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

In [56]:
lr.fit(x_train, y_train)

LogisticRegression()

In [58]:
y_pred = lr.predict(x_valid)
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0], dtype=int64)

Метрика Accuracy (доля правильных ответов)

In [60]:
from sklearn.metrics import accuracy_score

In [61]:
accuracy_score(y_valid, y_pred)

0.8026905829596412

In [62]:
y_pred_train = lr.predict(x_train)

In [64]:
accuracy_score(y_train, y_pred_train)

0.8083832335329342

## Вычисление вероятных событий

In [65]:
y_proba = lr.predict_proba(x_valid)

In [67]:
# Вероятность событий 0 и 1 для каждого пассажира
y_proba

array([[0.88803846, 0.11196154],
       [0.7306994 , 0.2693006 ],
       [0.87015653, 0.12984347],
       [0.08991938, 0.91008062],
       [0.25062018, 0.74937982],
       [0.07826309, 0.92173691],
       [0.3344696 , 0.6655304 ],
       [0.90522441, 0.09477559],
       [0.24542479, 0.75457521],
       [0.10340604, 0.89659396],
       [0.69433675, 0.30566325],
       [0.93487211, 0.06512789],
       [0.62484703, 0.37515297],
       [0.8476136 , 0.1523864 ],
       [0.75859307, 0.24140693],
       [0.07898048, 0.92101952],
       [0.72748704, 0.27251296],
       [0.33438493, 0.66561507],
       [0.70247547, 0.29752453],
       [0.70651161, 0.29348839],
       [0.88386346, 0.11613654],
       [0.6428651 , 0.3571349 ],
       [0.39821924, 0.60178076],
       [0.86944941, 0.13055059],
       [0.89833287, 0.10166713],
       [0.92821101, 0.07178899],
       [0.56597441, 0.43402559],
       [0.72832999, 0.27167001],
       [0.9144287 , 0.0855713 ],
       [0.42638413, 0.57361587],
       [0.86654164, 0.13345836],
       [0.35847563, 0.64152437],
       [0.48100123, 0.51899877],
       [0.41666522, 0.58333478],
       [0.86273769, 0.13726231],
       [0.86423029, 0.13576971],
       [0.58764898, 0.41235102],
       [0.3344696 , 0.6655304 ],
       [0.06807562, 0.93192438],
       [0.90119358, 0.09880642],
       [0.7125328 , 0.2874672 ],
       [0.92109508, 0.07890492],
       [0.90112761, 0.09887239],
       [0.86537366, 0.13462634],
       [0.43710554, 0.56289446],
       [0.91111171, 0.08888829],
       [0.86639576, 0.13360424],
       [0.87988997, 0.12011003],
       [0.88427982, 0.11572018],
       [0.6687093 , 0.3312907 ],
       [0.26566215, 0.73433785],
       [0.21285963, 0.78714037],
       [0.96298625, 0.03701375],
       [0.48735376, 0.51264624],
       [0.95175075, 0.04824925],
       [0.07958272, 0.92041728],
       [0.73690368, 0.26309632],
       [0.05298536, 0.94701464],
       [0.18635006, 0.81364994],
       [0.26337584, 0.73662416],
       [0.87378273, 0.12621727],
       [0.11635229, 0.88364771],
       [0.18917576, 0.81082424],
       [0.61164069, 0.38835931],
       [0.86537366, 0.13462634],
       [0.32636264, 0.67363736],
       [0.59337755, 0.40662245],
       [0.89920763, 0.10079237],
       [0.84631693, 0.15368307],
       [0.13239033, 0.86760967],
       [0.20087243, 0.79912757],
       [0.03546013, 0.96453987],
       [0.45259655, 0.54740345],
       [0.1017114 , 0.8982886 ],
       [0.88058406, 0.11941594],
       [0.93331822, 0.06668178],
       [0.34015584, 0.65984416],
       [0.06395437, 0.93604563],
       [0.20747898, 0.79252102],
       [0.55915999, 0.44084001],
       [0.94376431, 0.05623569],
       [0.16602724, 0.83397276],
       [0.08369347, 0.91630653],
       [0.86538066, 0.13461934],
       [0.6812159 , 0.3187841 ],
       [0.75868291, 0.24131709],
       [0.06208462, 0.93791538],
       [0.06058706, 0.93941294],
       [0.69896977, 0.30103023],
       [0.90146944, 0.09853056],
       [0.85427488, 0.14572512],
       [0.55669103, 0.44330897],
       [0.80497861, 0.19502139],
       [0.8653853 , 0.1346147 ],
       [0.90119358, 0.09880642],
       [0.8963014 , 0.1036986 ],
       [0.7640747 , 0.2359253 ],
       [0.93677954, 0.06322046],
       [0.19722723, 0.80277277],
       [0.89329275, 0.10670725],
       [0.82395196, 0.17604804],
       [0.91549329, 0.08450671],
       [0.04789296, 0.95210704],
       [0.92260518, 0.07739482],
       [0.90337108, 0.09662892],
       [0.91106958, 0.08893042],
       [0.26921514, 0.73078486],
       [0.71977461, 0.28022539],
       [0.90135834, 0.09864166],
       [0.56210141, 0.43789859],
       [0.12402672, 0.87597328],
       [0.87230194, 0.12769806],
       [0.06658405, 0.93341595],
       [0.657598  , 0.342402  ],
       [0.38071847, 0.61928153],
       [0.86911059, 0.13088941],
       [0.77149968, 0.22850032],
       [0.65435797, 0.34564203],
       [0.17912128, 0.82087872],
       [0.68890539, 0.31109461],
       [0.80330624, 0.19669376],
       [0.05893104, 0.94106896],
       [0.26468057, 0.73531943],
       [0.55653834, 0.44346166],
       [0.88739469, 0.11260531],
       [0.52803394, 0.47196606],
       [0.1852089 , 0.8147911 ],
       [0.3798876 , 0.6201124 ],
       [0.35157919, 0.64842081],
       [0.87363699, 0.12636301],
       [0.33433148, 0.66566852],
       [0.88803846, 0.11196154],
       [0.73248884, 0.26751116],
       [0.24146698, 0.75853302],
       [0.66282455, 0.33717545],
       [0.25370015, 0.74629985],
       [0.04698154, 0.95301846],
       [0.89925115, 0.10074885],
       [0.93105006, 0.06894994],
       [0.37932257, 0.62067743],
       [0.8734336 , 0.1265664 ],
       [0.2794552 , 0.7205448 ],
       [0.70907109, 0.29092891],
       [0.7988608 , 0.2011392 ],
       [0.54858897, 0.45141103],
       [0.23903701, 0.76096299],
       [0.7219998 , 0.2780002 ],
       [0.89185991, 0.10814009],
       [0.05136021, 0.94863979],
       [0.93291125, 0.06708875],
       [0.84544379, 0.15455621],
       [0.88406053, 0.11593947],
       [0.86288221, 0.13711779],
       [0.37708863, 0.62291137],
       [0.90112761, 0.09887239],
       [0.90155473, 0.09844527],
       [0.87837437, 0.12162563],
       [0.33442951, 0.66557049],
       [0.23124933, 0.76875067],
       [0.43800973, 0.56199027],
       [0.81899085, 0.18100915],
       [0.61092738, 0.38907262],
       [0.77561113, 0.22438887],
       [0.0686839 , 0.9313161 ],
       [0.86497682, 0.13502318],
       [0.73750192, 0.26249808],
       [0.67788506, 0.32211494],
       [0.12409849, 0.87590151],
       [0.87718188, 0.12281812],
       [0.91552115, 0.08447885],
       [0.42368888, 0.57631112],
       [0.15455021, 0.84544979],
       [0.65748984, 0.34251016],
       [0.24318348, 0.75681652],
       [0.85947022, 0.14052978],
       [0.84637507, 0.15362493],
       [0.68305047, 0.31694953],
       [0.11970721, 0.88029279],
       [0.31135894, 0.68864106],
       [0.7198526 , 0.2801474 ],
       [0.67525749, 0.32474251],
       [0.90750129, 0.09249871],
       [0.91357967, 0.08642033],
       [0.53306522, 0.46693478],
       [0.23858695, 0.76141305],
       [0.71853679, 0.28146321],
       [0.64782417, 0.35217583],
       [0.90119358, 0.09880642],
       [0.60066196, 0.39933804],
       [0.22914652, 0.77085348],
       [0.93909251, 0.06090749],
       [0.74138403, 0.25861597],
       [0.88856066, 0.11143934],
       [0.89849802, 0.10150198],
       [0.29246906, 0.70753094],
       [0.12249791, 0.87750209],
       [0.03535011, 0.96464989],
       [0.74676929, 0.25323071],
       [0.08453881, 0.91546119],
       [0.57230691, 0.42769309],
       [0.96131071, 0.03868929],
       [0.41768968, 0.58231032],
       [0.10789887, 0.89210113],
       [0.67072674, 0.32927326],
       [0.80192265, 0.19807735],
       [0.34551002, 0.65448998],
       [0.89850533, 0.10149467],
       [0.67775661, 0.32224339],
       [0.84180314, 0.15819686],
       [0.94555779, 0.05444221],
       [0.31993079, 0.68006921],
       [0.90231506, 0.09768494],
       [0.08446967, 0.91553033],
       [0.86538765, 0.13461235],
       [0.62484703, 0.37515297],
       [0.90026337, 0.09973663],
       [0.1928143 , 0.8071857 ],
       [0.64364588, 0.35635412],
       [0.15742688, 0.84257312],
       [0.90146944, 0.09853056],
       [0.90119358, 0.09880642],
       [0.14370257, 0.85629743],
       [0.89868835, 0.10131165]])

Нас интересует вероятность собития 1 (правый столбец) -
при получении ответа значения из него округляются до 0 или до 1

## Сохранение данных
сохраним обработанные данные, они пригодятся для следующих уроков

In [68]:
x_train.to_pickle('x_train.pkl')
y_train.to_pickle('y_train.pkl')

x_valid.to_pickle('x_valid.pkl')
y_valid.to_pickle('y_valid.pkl')